*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p, h1, h2{
    mix-blend-mode: difference;
}

body{
    background-image: url(kepek/background.png);
    background-size: cover;
}

.main2{
    width: 95%;
    margin: auto;
}

nav{
    height: 40px;
    background-color: rgb(59, 59, 59);
    border-bottom: 5px solid black;
}
header{
    background-image: url(kepek/iphone-13.png);
    background-size: cover;
    height: 300px;
    width: 95%;
    margin: auto;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-bottom: 15px;
}
header h1{
    font-size: 90px;
    margin-left: 10px;
}
article{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "le k1"
                         "k2 ta";
    gap: 10px;
}
article h2{
    font-size: 40px;
}
article p{
    font-size: 18px;
}
footer p{
    margin: 20px;
    text-align: center;
}

.kep1, .kep2{
    border-radius: 30px;
    width: 100%;
    padding: 0px;
    background-color: black;
 }
.kep1 img, .kep2 img{
    width: 100%;
    border-radius: 30px;
}
.kep1 p, .kep2 p{
    margin: 18px;
    text-align: center;
    font-weight: bold;
/*     background-color: black;
 */}

table{
    border: 1px black dotted;
}

.kep1, .leiras, .kep2, .tablazat{
    border: red 1px solid;
}



















.kep1{
    grid-area: k1;
}
.leira{
    grid-area: le;
}
.kep2{
    grid-area: k2;
}
.tablazat{
    grid-area: ta;
}